apiVersion: v1
data:
  token: "<%= token64 %>"
kind: Secret
metadata:
  name: gitlab-agent-token
  namespace: "<%= agent_namespace %>"
type: Opaque
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gitlab-agent
  namespace: "<%= agent_namespace %>"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cilium-alert-read
rules:
  - apiGroups:
      - cilium.io
    resources:
      - ciliumnetworkpolicies
    verbs:
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitlab-agent-gitops-read-all
rules:
  - apiGroups:
      - '*'
    resources:
      - '*'
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gitlab-agent-gitops-write-all
rules:
  - apiGroups:
      - '*'
    resources:
      - '*'
    verbs:
      - create
      - update
      - delete
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cilium-alert-read-<%= agent_namespace %>
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cilium-alert-read
subjects:
  - kind: ServiceAccount
    name: gitlab-agent
    namespace: "<%= agent_namespace %>"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gitlab-agent-gitops-read-all-<%= agent_namespace %>
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gitlab-agent-gitops-read-all
subjects:
  - kind: ServiceAccount
    name: gitlab-agent
    namespace: "<%= agent_namespace %>"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gitlab-agent-gitops-write-all-<%= agent_namespace %>
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gitlab-agent-gitops-write-all
subjects:
  - kind: ServiceAccount
    name: gitlab-agent
    namespace: "<%= agent_namespace %>"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitlab-agent
  namespace: "<%= agent_namespace %>"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitlab-agent
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: gitlab-agent
    spec:
      containers:
        - args:
            - --token-file=/config/token
            - --kas-address
            - "<%= ENV['KAS_ADDRESS'] %>"
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          image: registry.gitlab.com/gitlab-org/cluster-integration/gitlab-agent/agentk:latest
          name: agent
          volumeMounts:
            - mountPath: /config
              name: token-volume

      securityContext:
        fsGroup: 65532
        runAsGroup: 65532
        runAsUser: 65532
      serviceAccountName: gitlab-agent
      volumes:
        - name: token-volume
          secret:
            secretName: gitlab-agent-token